body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ajuste para dispositivos móviles */
}

img {
    max-width: 50%;
    height: auto;
}

.blur {
    filter: blur(2px);
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Adaptación en móviles */
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1; /* Permitir expansión en pantallas grandes */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}